<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.preferrd.menu.dao.AccountDao">
    <select id="select" parameterType="java.lang.String"
            resultType="com.preferrd.menu.model.Account">
		SELECT * FROM account WHERE "accountId" = #{accountId}
	</select>
    <insert id="add" parameterType="com.preferrd.menu.model.Account">
		INSERT INTO account VALUES (#{accountId}, #{userName}, #{password}, #{email}, #{description}, #{phone}, #{cardId}, #{realName})
	</insert>

</mapper>
