<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.preferrd.menu.database.dao.RoleAuthorityMapper">
  <resultMap id="BaseResultMap" type="com.preferrd.menu.database.model.RoleAuthority">
    <id column="role_id" jdbcType="CHAR" property="roleId" />
    <result column="authority_id" jdbcType="CHAR" property="authorityId" />
  </resultMap>
  <sql id="Base_Column_List">
    role_id, authority_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role_authority
    where role_id = #{roleId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from role_authority
    where role_id = #{roleId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.preferrd.menu.database.model.RoleAuthority">
    insert into role_authority (role_id, authority_id)
    values (#{roleId,jdbcType=CHAR}, #{authorityId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.preferrd.menu.database.model.RoleAuthority">
    insert into role_authority
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="authorityId != null">
        authority_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=CHAR},
      </if>
      <if test="authorityId != null">
        #{authorityId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.preferrd.menu.database.model.RoleAuthority">
    update role_authority
    <set>
      <if test="authorityId != null">
        authority_id = #{authorityId,jdbcType=CHAR},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.preferrd.menu.database.model.RoleAuthority">
    update role_authority
    set authority_id = #{authorityId,jdbcType=CHAR}
    where role_id = #{roleId,jdbcType=CHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.preferrd.menu.database.model.RoleAuthority">
    <result column="role_id" jdbcType="CHAR" property="roleId" />
    <result column="authority_id" jdbcType="CHAR" property="authorityId" />
  </resultMap>
  <insert id="insert" parameterType="com.preferrd.menu.database.model.RoleAuthority">
    insert into role_authority (role_id, authority_id)
    values (#{roleId,jdbcType=CHAR}, #{authorityId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.preferrd.menu.database.model.RoleAuthority">
    insert into role_authority
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="authorityId != null">
        authority_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=CHAR},
      </if>
      <if test="authorityId != null">
        #{authorityId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.preferrd.menu.database.model.RoleAuthorityKey">
    <id column="role_id" jdbcType="CHAR" property="roleId" />
    <id column="authority_id" jdbcType="CHAR" property="authorityId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.preferrd.menu.database.model.RoleAuthorityKey">
    delete from role_authority
    where role_id = #{roleId,jdbcType=CHAR}
      and authority_id = #{authorityId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.preferrd.menu.database.model.RoleAuthorityKey">
    insert into role_authority (role_id, authority_id)
    values (#{roleId,jdbcType=CHAR}, #{authorityId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.preferrd.menu.database.model.RoleAuthorityKey">
    insert into role_authority
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="authorityId != null">
        authority_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=CHAR},
      </if>
      <if test="authorityId != null">
        #{authorityId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.preferrd.menu.database.model.RoleAuthorityKey">
    <id column="role_id" jdbcType="CHAR" property="roleId" />
    <id column="authority_id" jdbcType="CHAR" property="authorityId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.preferrd.menu.database.model.RoleAuthorityKey">
    delete from role_authority
    where role_id = #{roleId,jdbcType=CHAR}
      and authority_id = #{authorityId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.preferrd.menu.database.model.RoleAuthorityKey">
    insert into role_authority (role_id, authority_id)
    values (#{roleId,jdbcType=CHAR}, #{authorityId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.preferrd.menu.database.model.RoleAuthorityKey">
    insert into role_authority
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="authorityId != null">
        authority_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=CHAR},
      </if>
      <if test="authorityId != null">
        #{authorityId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>